* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    background-color: cornsilk;
}

li {
    color: blue;
    padding: 2px;
    text-decoration: underline;
}

li:hover {
    color: red;
    cursor: pointer;
    font-size: larger;
}

.post-info{
    background-color: pink;
    padding: 15px;
    border-radius: 5px;
}
.texts {
    font-weight: bold;
    color: orangered;
    font-size: 25px;
}
.bor {
    text-align: center;
    border: 2px dashed green;  
    display: block;
    margin: auto;
}
.al {
    text-align: center;
    display: block;
    margin: auto;
}